body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  transition: background 1s;
  color: #fff;

  /* FIX */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock-container {
  text-align: center;
  margin-top: auto;
}

#time {
  font-size: 60px;
  margin: 20px 0;
}

#timezone {
  font-size: 20px;
}

/* Footer fix */
footer {
  margin-top: auto;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 6px;
}

footer a:hover {
  text-decoration: underline;
}
